# Database
DB_HOST=localhost
DB_PORT=5432
DB_NAME=hirescope
DB_USER=your_db_username
DB_PASSWD=your_db_password

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# AI Server
AI_SERVER=http://ai-server-ip:8000
AI_SERVER_TIMEOUT=300000
